<q-expansion-item group="extras" icon="info" label="About">
  <q-card>
    <q-card-section>
      <h6 class="q-my-md">Cashu LNbits extension</h6>
      <p>This extension allows you to create Cashu mints hosted on LNbits</p>
      <p>Cashu is a free and open-source Chaumian ecash system built for Bitcoin. Cashu offers near-perfect privacy for users of custodial Bitcoin applications. Nobody needs to know who you are, how much funds you have, and who you transact with.</p>
      <h6 class="q-my-md">Learn more</h6>
      <p>To learn more about Cashu visit <a href="https://cashu.space">cashu.space</a> or visit Cashu on <a href="https://github.com/cashubtc/cashu">Github</a>.</p>
      <p>Read the Cashu <a href="https://docs.cashu.space">documentation</a></p>
      <small
        >Created by
        <a
          class="text-secondary"
          href="https://github.com/callebtc"
          target="_blank"
          >calle</a
        >,
        <a
          class="text-secondary"
          href="https://github.com/arcbtc"
          target="_blank"
          >arcbtc</a
        >,
        <a
          class="text-secondary"
          href="https://github.com/motorina0"
          target="_blank"
          >vlad</a
        ></small
      >
    </q-card-section>
  </q-card>
</q-expansion-item>
